@media (max-width: 1023px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
  }

  .profile-image {
    width: 80%;
    max-width: 400px;
    position: relative;
  }
  .profile-image img {
    width: 100%;
  }

  .profile-image .blur {
    position: absolute;
    inset: auto 0 0 0;
    height: 20%;
    background-color: white;
    filter: blur(10px);
    pointer-events: none;
  }
  .white-bottom {
    height: 20px;
    background-color: white;
  }

  .profile {
    align-items: center;
    gap: 1rem;
  }
}
